@model QuanLyDiem.Web.ViewModels.LecturersManager

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    
    <style>
        .remove{
                display: none !important;
        }
        @@media screen and (min-width:  992px){
            #form-container{
                width: 60%;
            }
        }
    </style>
}

<partial name="_SideBar"/>
<div class="p-2 flex-grow-1">
    <div class="main-container w-100 h-100 p-3 rounded">
        <div class="mb-4">
            <a asp-action="Index">Return to list</a>
        </div>
            @if (ViewBag.Success != null && ViewBag.Success == "true")
            {
                <div id="message" class="d-flex justify-content-between rounded w-100 my-2 px-2 py-3 bg-info text-dark" style="font-width: 700 !important;">
                    <div>New Lecturer Created! <a asp-action="" asp-route-id="@ViewBag.LecturerId">Go to Lecturer</a>.</div>
                    <div id="toggleMessage"><i class="fas fa-times" ></i></div>
                </div>
            }
            <div asp-validation-summary="All" class="bg-danger text-white rounded mb-3"></div>
        <div id="form-container">
            <form asp-action="Create" method="post" role="form">
                               <div class="mb-4 d-flex justify-content-between">
                    <div class="d-flex flex-column">
                        <div class="form-outline">
                            <input asp-for="@Model.Lecturer.LastName" type="text" id="questionInput" class="form-control">
                            <label class="form-label" for="questionInput">LastName</label>
                        </div>
                        <span asp-validation-for="@Model.Lecturer.LastName" class="text-danger"></span>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="form-outline" style="margin-left: 0.6rem !important;">
                            <input asp-for="@Model.Lecturer.FirstName" type="text" id="form2Example1" class="form-control"/>
                            <label class="form-label" for="form2Example1">FirstName</label>
                        </div>
                        <span asp-validation-for="@Model.Lecturer.FirstName" class="text-danger" style="margin-left: 0.6rem !important;"></span>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        id="inlineradio1"
                        value="true"
                        asp-for="Lecturer.Gender"
                        checked
                      />
                      <label class="form-check-label" for="inlineradio1">male</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        id="inlineradio2"
                        value="false"
                        asp-for="Lecturer.Gender"
                      />
                      <label class="form-check-label" for="inlineradio2">female</label>
                    </div>
                </div>
                                    <div class="mb-4 w-75 d-flex flex-column">
                    <div class="form-outline">
                        <input asp-for="Lecturer.Email" id="emailInput" class="form-control" type="email"/>
                        <label class="form-label" for="emailInput">Email</label>
                    </div>
                    <span asp-validation-for="Lecturer.Email" class="text-danger"></span>
                </div>
                <div class="mb-4 w-50 d-flex flex-column">
                    <div class="form-outline">
                        <input asp-for="Lecturer.Password" id="passwordInput" class="form-control">
                        <label class="form-label" for="passwordInput">Password</label>
                    </div>
                    <span asp-validation-for="Lecturer.Password" class="text-danger"></span>
                </div>
                <div class="mb-4 w-50 d-flex flex-column">
                    <div class="form-outline">
                        <input asp-for="Lecturer.PhoneNumber" id="phoneNumberInput" class="form-control"/>
                        <label class="form-label" for="phoneNumberInput">Phone Number</label>
                    </div>
                    <span asp-validation-for="@Model.Lecturer.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="mb-4 d-flex flex-column">
                    <div class="form-outline">
                        <input asp-for="Lecturer.Address" id="addressInput" class="form-control">
                        <label class="form-label" for="addressInput">Address</label>
                    </div>
                    <span asp-validation-for="@Model.Lecturer.Address" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
<script src="~/js/addStudent.js"></script>
<script>
 const message = document.getElementById('message');
 document.getElementById('toggleMessage') ? document.getElementById('toggleMessage').addEventListener('click', e=> message.classList.toggle('remove')):""
</script>