@model QuanLyDiem.Web.ViewModels.LecturersManager

@{
    ViewBag.Title = "Lecturer Detail";
    Layout = "_Layout";
    <style>
            @@media screen and (min-width:  992px){
            
                #form-container{
                    width: 60%;
                }
            }
    </style>
}

@if (Model.Role == "Administrator")
{
    <partial name="_SideBar"/>
}else if (Model.Role == "Lecturer")
{
    <partial name="_LecturerSideBar"/>
}
<div class="p-2 flex-grow-1">
    <div class="main-container w-100 h-100 p-3 rounded neumorphic-container">
        @if (Model.Role == "Administrator")
        {
        <div class="mb-5">
            <a asp-action="Index">Return to list</a>
        </div>
        }
        <div id="form-container">
            <form asp-action="Details" method="post">
                <div class="mb-4">
                    <div class="form-outline">
                        <input asp-for="@Model.Lecturer.LecturerId" type="text"
                               id="studentIdInput" class="form-control" readonly/>
                        <label class="form-label" for="studentIdInput">Id</label>
                    </div>
                </div>
                <div class="mb-4 d-flex justify-content-between">
                    <div class="d-flex flex-column">
                        <div class="form-outline">
                            <input asp-for="@Model.Lecturer.LastName" type="text" id="questionInput" class="form-control">
                            <label class="form-label" for="questionInput">LastName</label>
                        </div>
                        <span asp-validation-for="@Model.Lecturer.LastName" class="text-danger"></span>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="form-outline" style="margin-left: 0.6rem !important;">
                            <input asp-for="@Model.Lecturer.FirstName" type="text" id="form2Example1" class="form-control"/>
                            <label class="form-label" for="form2Example1">FirstName</label>
                        </div>
                        <span asp-validation-for="@Model.Lecturer.FirstName" class="text-danger"
                              style="margin-left: 0.6rem !important;"></span>
                    </div>
                </div>
                <div class="mb-4 ">
                    <div class="mb-4">
                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                id="inlineradio1"
                                value="true"
                                asp-for="Lecturer.Gender"/>
                            <label class="form-check-label" for="inlineradio1">male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                id="inlineradio2"
                                value="false"
                                asp-for="Lecturer.Gender"/>
                            <label class="form-check-label" for="inlineradio2">female</label>
                        </div>
                    </div>
                </div>
                <div class="mb-4 w-75 d-flex flex-column">
                    <div class="form-outline">
                        <input asp-for="Lecturer.Email" id="emailInput" class="form-control" type="email"/>
                        <label class="form-label" for="emailInput">Email</label>
                    </div>
                    <span asp-validation-for="Lecturer.Email" class="text-danger"></span>
                </div>
                <div class="mb-4 w-50 d-flex flex-column" hidden>
                    <div class="form-outline">
                        <input asp-for="Lecturer.Password" id="passwordInput" class="form-control" type="password"
                               value="@Model.Lecturer.Password"/>
                        <label class="form-label" for="passwordInput">Password</label>
                    </div>
                    <span asp-validation-for="Lecturer.Password" class="text-danger"></span>
                </div>
                <div class="mb-4 w-50 d-flex flex-column">
                    <div class="form-outline">
                        <input asp-for="Lecturer.PhoneNumber" id="phoneNumberInput" class="form-control" type="text"/>
                        <label class="form-label" for="phoneNumberInput">Phone Number</label>
                    </div>
                    <span asp-validation-for="@Model.Lecturer.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="mb-4 d-flex flex-column">
                    <div class="form-outline">
                        <input asp-for="Lecturer.Address" id="addressInput" class="form-control" type="text"/>
                        <label class="form-label" for="addressInput">Address</label>
                    </div>
                    <span asp-validation-for="@Model.Lecturer.Address" class="text-danger"></span>
                </div>
                <div class="mb-4 text-primary" style="font-size: 13px; cursor: pointer">
                                    Đổi mật khẩu
                                </div>
                <button type="submit" class="btn neumorphic-btn text-primary">Save</button>
            </form>
        </div>
    </div>
</div>

<script src="~/js/addStudent.js"></script>
<script>
    var model = @Json.Serialize(Model.Lecturer);
    console.log(model)
</script>
