@model QuanLyDiem.Web.ViewModels.SubjectManager

<table class="neumorphic">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col" class="filter">Tên lớp<i class="fas fa-chevron-down"></i></th>
    <th scope="col" class="filter">Tín chỉ<i class="fas fa-chevron-down"></i></th>
    <th scope="col" class="filter">Học kỳ<i class="fas fa-chevron-down"></i></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  @if (Model.SubjectList == null || !Model.SubjectList.Any())
  {
    return;
  }
  @foreach (var i in @Model.SubjectList)
  {
    <tr>
      <td scope="row">@i.SubjectId</td>
      <td>@i.SubjectName</td>
      <td>@i.CourseLoad</td>
      <td>@i.Semester.SemesterName</td>
      <td >
        <div class="d-inline-flex justify-content-center neumorphic-group-btn rounded">
          <a asp-action="Details" asp-route-subjectId="@i.SubjectId"
             class="neumorphic-btn text-primary p-2 rounded-start"><i class="fas fa-edit text-primary"></i></a>
          <a asp-action="Delete" asp-route-subjectId="@i.SubjectId"
             onclick="return confirm('Do you really want to delete this user?');"
             class="neumorphic-btn text-danger p-2 rounded-end"><i class="fas fa-trash-alt text-danger"></i></a>
        </div>
      </td>
    </tr>
  }
  </tbody>
</table>